.card-deck {
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

body {
    padding-top: 80px;
}

.product-details {
    margin-bottom: 20px;
}

.product-comment {
    margin-bottom: 20px;
}

.price {
    color: green;
}