{% extends "layouts/main.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">

            {% for i, product in products %}

                {# Группируем карточки по 3 в деку. Открываем тег на первую итерацию из каждой тройки #}
                {% if i%3 == 0 %}
                    <div class="card-deck">
                {% endif %}

                <div class="card">
                    <img class="card-img-top " src="{{ product.image }}">
                    <div class="card-body">
                        <h5 class="card-title"> {{ product.title }} </h5>
                        <p>{{ product.description|raw|slice(0,200) }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="details?id={{ product.id }}" class="btn btn-default">Details</a>
                        <a href="#" class="btn btn-primary float-right">Buy</a>
                    </div>
                </div>

                {# Закрываем тег на каждую третью итерацию или когда закончились карточки #}
                {% if (i%3 == 2 or (i+1 == products|length) )  %}
                    </div>
                {% endif %}

            {% else %}
                <h4>Products is not exist</h4>
            {% endfor %}

        </div>
    </div>

{% endblock %}