{% extends "layout.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-6">
            <img src="https://cnet2.cbsistatic.com/img/hjo7_UY6ykIh_9cfttUZYaiF7V0=/770x433/2017/06/21/39c814c4-4909-43e8-aa0d-89eff3aced37/apple-macbook-12-inch-2017-01.jpg"
                 alt="product-img" class="rounded img-fluid">
        </div>

        <div class="col-md-6">
            <h4>{{ product['name'] }}</h4>
           {{ product['description']|raw }}
        </div>
    </div>

    <br>

    <h3 class="text-center">Details</h3>

    <div class="row">
        <div class="col-md-12">

            <nav>
                <div class="nav nav-pills product-details" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true">Description</a>
                    <a class="nav-item nav-link" id="nav-specifications-tab" data-toggle="tab" href="#nav-specifications" role="tab" aria-controls="nav-specifications" aria-selected="false">Specifications</a>
                    <a class="nav-item nav-link" id="nav-images-tab" data-toggle="tab" href="#nav-images" role="tab" aria-controls="nav-images" aria-selected="false">Images</a>
                    <a class="nav-item nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-controls="nav-reviews" aria-selected="false">
                        Reviews
                        <span class="badge badge-primary">214</span>
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                    {{ product['description']|raw }}
                </div>
                <div class="tab-pane fade" id="nav-specifications" role="tabpanel" aria-labelledby="nav-specifications-tab">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-fluid" src="https://cnet2.cbsistatic.com/img/hjo7_UY6ykIh_9cfttUZYaiF7V0=/770x433/2017/06/21/39c814c4-4909-43e8-aa0d-89eff3aced37/apple-macbook-12-inch-2017-01.jpg">
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="https://cnet2.cbsistatic.com/img/hjo7_UY6ykIh_9cfttUZYaiF7V0=/770x433/2017/06/21/39c814c4-4909-43e8-aa0d-89eff3aced37/apple-macbook-12-inch-2017-01.jpg">
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="https://cnet2.cbsistatic.com/img/hjo7_UY6ykIh_9cfttUZYaiF7V0=/770x433/2017/06/21/39c814c4-4909-43e8-aa0d-89eff3aced37/apple-macbook-12-inch-2017-01.jpg">
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="https://cnet2.cbsistatic.com/img/hjo7_UY6ykIh_9cfttUZYaiF7V0=/770x433/2017/06/21/39c814c4-4909-43e8-aa0d-89eff3aced37/apple-macbook-12-inch-2017-01.jpg">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">

                    <div class="card product-comment">
                        <div class="card-body">
                            <h5 class="card-title">Bogdan Onishenko</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <h5 style="color: green;">+ Good</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <h5 style="color: red;">- Bad</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>

                    <div class="card product-comment">
                        <div class="card-body">
                            <h5 class="card-title">Bogdan Onishenko</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <h5 style="color: green;">+ Good</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <h5 style="color: red;">- Bad</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>

                    <div class="card product-comment">
                        <div class="card-body">
                            <h5 class="card-title">Bogdan Onishenko</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <h5 style="color: green;">+ Good</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <h5 style="color: red;">- Bad</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}